<form class="ui large form segment" [formGroup]='expense' (ngSubmit)='onSubmit()'>
  <div class="required field">
    <label for='description'>Description</label>
    <input id="description" name='description' formControlName='description'>
  </div>
  <div class="required field">
    <label for='amount'>Amount</label>
    <input id="amount" name='amount' formControlName='amount'>
  </div>
  <div class="required field">
    <label>paidFor</label>
    <select formControlName="paidFor" multiple="" class="ui fluid search dropdown" id="multi-select">
      <option *ngFor="let person of people" [ngValue]="person">
        {{ person.firstname }} {{ person.lastname }}
      </option>
    </select>
  </div>

  <button type="submit" class="ui big fluid positive button" [disabled]="!expense.valid">Add</button>
</form>
