<form class="ui large form segment" [formGroup]='event' (ngSubmit)='onSubmit()'>
  <h3 class="ui dividing header">Add event</h3>
  <div class="required field">
    <label for='name'>Name:</label>
    <input id="name" name='name' formControlName='name' #spy>
    <div *ngIf='event.get("name").errors?.required && event.get("name").touched' class='ui negative message'>
      please fill out a name
    </div>
  </div>

  <div class="required field">
    <label>People</label>
    <select formControlName="people" multiple="" class="ui fluid search dropdown" id="multi-select">
      <option *ngFor="let person of people" [ngValue]="person">
        {{ person.firstname }} {{ person.lastname }}
      </option>
    </select>
  </div>
  <!--
  <div formArrayName='expenses' *ngFor='let item of event.get("expenses ").controls; let i = index'>
    <div class="two fields " [formGroupName]='i'>
      <div class="required field ">
        <label for='expense_description'>Description:</label>
        <input type="text " id='expense_description' formControlName='description'>
      </div>
      <div class="required field ">
        <label for='expense_amount'>Amount:</label>
        <input type="number " id='expense_amount' formControlName='amount'>
      </div>
    </div>
  </div>
-->
  <button type='submit' class="ui positive fluid button " [disabled]="!event.valid">
    add event
  </button>
</form>
