<div class="ui centered grid">
  <div class="eight wide column">

    <h2 class="ui center aligned icon header">
      <i class="circular money icon"></i>
      Ome
      <div class="sub header">Because lending money to your friends is a
        <i>great</i> idea</div>

    </h2>
    <form class="large ui form" [formGroup]='person' (ngSubmit)="login()">
      <div class="ui stacked segment">
        <div class="required field">
          <label for='email'>email</label>
          <input id='email' name='email' formControlName='email'>
        </div>
        <div class="required field">
          <label for='password'>password</label>
          <input type='password' id='password' name='password' formControlName='password'>
        </div>

        <div *ngIf='errMessage' class="ui negative message">
          {{ errMessage }}
        </div>

        <a routerLink="/register">Not a member yet? Sign up!</a>
        <button type="submit" class="ui big positive fluid button">
          Log in
        </button>

      </div>
    </form>
  </div>
</div>
