<h2 class="ui top attached header">{{ eventModel.name }}</h2>
<div class="ui clearing attached segment">
  <h3 class="subheader">Expenses</h3>

  <div class="ui large celled animated list">
    <app-expense class="item" *ngFor="let e of eventModel.expenses" [expense]="e" [eventId]="eventModel.id" (removeExpense)="removeExpense($event)"></app-expense>
  </div>
  <a class="ui right floated basic icon button" routerLinkActive="active" routerLink='/event/{{eventModel.id}}/add'>
    <i class="icon add"></i>
  </a>

</div>
