<div class="ui centered grid">
  <div class="eight wide column">
    <form class="large ui stached form" [formGroup]="person" (ngSubmit)="register()">
      <div class="stacked ui segment">
        <div class="two fields">
          <div class="required field">
            <label for="firstname">First name:</label>
            <input id="firstname" name="firstname" formControlName="firstname">
            <div *ngIf="person.get('firstname').touched">
              <div class="ui negative message" *ngIf="person.get('firstname').errors?.required">
                field is required
              </div>
              <div class="ui negative message" *ngIf="person.get('firstname').errors?.minLength">
                minimum length of 2 required
              </div>
            </div>
          </div>
          <div class="required field">
            <label for="lastname">Last name:</label>
            <input id="lastname" name="lastname" formControlName="lastname">
            <div *ngIf="person.get('lastname').touched">
              <div class="ui negative message" *ngIf="person.get('lastname').errors?.required">
                field is required
              </div>
              <div class="ui negative message" *ngIf="person.get('lastname').errors?.minLength">
                minimum length of 2 required
              </div>
            </div>
          </div>
        </div>
        <div class="required field">
          <label for="email">email</label>
          <input id="email" name="email" formControlName="email">
          <div *ngIf="person.get('email').touched">
            <div class="ui negative message" *ngIf="person.get('email').errors?.required">
              field is required
            </div>
            <div class="ui negative message" *ngIf="person.get('email').errors?.email">
              enter a valid email
            </div>
          </div>
        </div>
        <div formGroupName='passwordGroup'>
          <div class="required field">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName='password'>
            <div class='ui negative message' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
              password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
            </div>
          </div>
          <div class="required field">
            <label for="confirmPassword">Confirm password:</label>
            <input type="password" id="confirmPassword" formControlName='confirmPassword'>
          </div>
          <div class='ui negative message' *ngIf=' person.get("passwordGroup").errors?.passwordsDiffer && person.get("passwordGroup").get("confirmPassword").touched  && person.get("passwordGroup").get("password").touched'>
            passwords should be the same
          </div>
        </div>
        <br>
        <button type='submit' [disabled]='!person.valid' class="ui big positive fluid button">register</button>
      </div>
    </form>

  </div>
</div>
